# LAN Support for OrangePi 4 LTS
CONFIG_MOTORCOMM_PHY=y

# Wi-Fi Support for OrangePi 4 LTS
CONFIG_GCC11_NO_ARRAY_BOUNDS=y
CONFIG_SPARD_WLAN_SUPPORT=y
CONFIG_WCN_BSP_DRIVER_BUILDIN=y
CONFIG_RK_WIFI_DEVICE_UWE5622=m
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_CRYPTO_SHA256=y
CONFIG_WLAN_UWE5622=m
CONFIG_SPRDWL_NG=m
CONFIG_UNISOC_WIFI_PS=y
CONFIG_TTY_OVERY_SDIO=m
CONFIG_MAC80211_HWSIM=m
CONFIG_USB_NET_RNDIS_WLAN=m
CONFIG_VIRT_WIFI=m

# Rockchip Support
CONFIG_DM_VIDEO=y
CONFIG_VIDEO_BPP16=y
CONFIG_VIDEO_BPP32=y
CONFIG_DISPLAY=y
CONFIG_VIDEO_ROCKCHIP=y
CONFIG_DISPLAY_ROCKCHIP_HDMI=y
CONFIG_CRYPTO_DEV_ROCKCHIP=y
CONFIG_DRM_ROCKCHIP=y
CONFIG_HW_RANDOM=y
HW_RANDOM_ROCKCHIP=y
CONFIG_SND_SOC_ES8316=m
CONFIG_SND_SOC_SIMPLE_AMPLIFIER=m
CONFIG_SND_SOC_SIMPLE_MUX=m
CONFIG_SND_SIMPLE_CARD_UTILS=m
CONFIG_SND_SIMPLE_CARD=m
CONFIG_SND_SOC_ROCKCHIP=m
CONFIG_SND_SOC_ROCKCHIP_I2S=m
CONFIG_SND_SOC_HDMI_CODEC=m
